/* User Information Styles */
.user-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-info-panel {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-name-link {
  text-decoration: none;
  color: inherit;
}

.user-name-link:hover {
  color: #FF013F; /* Example hover color */
}

.user-info-panel h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #FF013F;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Social Icons Styles */
.social-icons {
  display: flex;
  gap: 1rem;
  opacity: 1;
  transition: opacity 0.5s;
  margin-bottom: 10px;
  margin-top: 10px;
  color: grey !important; 
}

.social-icons a {
  color: grey !important;
  font-size: 26px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #FF013F !important;;
}

.user-location-container {
  display: flex;
  margin-top: 5px;
  align-items: center;
  gap: 5px; /* Adjust the gap between the icon and the text */
}

.material-symbols-outlined {
  font-size: 1.2em; /* Adjust the size of the icon */
  color: grey !important; 
}

.user-location-container h2 {
  margin: 0;
}
